<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Обо мне</h4>
                    <p class="text-muted">Привет! Меня зовут Илья Максимов. Сайт, на котором вы находитесь,
                        является моим курсовым проектом в рамках учебного процесса. </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Контакты</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://vk.com/mia516" class="text-white">Vkontakte</a></li>
                        <li><a href="https://github.com/makasinov" class="text-white">GitHub</a></li>
                        <li><a href="mailto:decibel749@gmail.com" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="img/flower.svg" width="40" height="40" alt="Логотип">
                <strong>Интернет-магазин цветов</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>