<!DOCTYPE html>
<html lang="ru">

<head>
    <% include head %>
</head>

<body>
    <% include header %>
    
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <% for (let i = 0; i < data.length; i++) { %>
                    <%- include('data_block',{
                        id  : data[i]['_id'],
                        img : data[i]['img'],
                        description : data[i]['name'],
                        price : data[i]['price'],
                        quantity : data[i]['number'] 
                    }) %>
                    <% } %>
                </div>
                
            </div>
        </div>
        
        <!-- Окно покупки -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Форма заказа</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="on" class="form">
                        <div class="form-group">
                            <label for="client_name" class="col-form-label">Меня зовут</label>
                            <input type="text" class="form-control" id="client_name" required autocomplete="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Я хочу приобрести</label>
                            <input type="text" class="form-control" id="recipient-name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="quantity" class="col-form-label">В количестве (шт)</label>
                            <input type="number" class="form-control" id="quantity" min="1" required>
                        </div>
                        <p id="final_price"></p>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Пусть со мной свяжутся по телефону</label>
                            <input type="tel" class="form-control" required autocomplete="tel" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Хочу получить подтверждение на почту</label>
                            <input type="email" class="form-control" required autocomplete="email" id="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="buy()">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/homepage.js"></script>
</body>

</html>