<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <script src="/js/homepage.js"></script>
</head>

<body>
    <% include header %>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <% for (let i = 0; i < data.length; i++) { %>
                <%- include('data_block',{
                        id  : data[i]['_id'],
                        img : data[i]['img'],
                        description : data[i]['name'],
                        price : data[i]['price'],
                        quantity : data[i]['number'] 
                    }) %>
                <% } %>
            </div>

        </div>
    </div>

    <!-- Окно покупки -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Форма заказа</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="on" class="form">
                        <div class="form-group">
                            <label for="client_name" class="col-form-label">Меня зовут</label>
                            <input type="text" class="form-control" id="client_name" required autocomplete="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Я хочу приобрести</label>
                            <input type="text" class="form-control" id="recipient-name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="quantity" class="col-form-label">В количестве (шт)</label>
                            <input type="number" class="form-control" id="quantity" min="1" required>
                        </div>
                        <p id="final_price"></p>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Пусть со мной свяжутся по телефону</label>
                            <input type="tel" class="form-control" required autocomplete="tel" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Хочу получить подтверждение на почту</label>
                            <input type="email" class="form-control" required autocomplete="email" id="email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="buy()">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal

            let recipient = button.data('id');
            let title = button.data('name');
            let quantity = button.data('quantity');
            let price = button.data('price');
            
            let modal = $(this);
            // modal.find('.modal-title').text('Форма заказа');
            modal.find('form').attr({
                id: recipient
            })
            modal.find('#final_price').attr({
                "data-price" : price
            });
            modal.find('#final_price').text('Конечная стоимость ' + price + 'р');
            modal.find('.modal-body #recipient-name').val(title);
            $("#quantity").attr({
                "max": quantity,
                "placeholder": "В наличии " + quantity
            });
            var final_price = 0;
            var inputNumber = document.getElementById('quantity');
            inputNumber.value = NaN;
            inputNumber.oninput = () => {
                // alert(inputNumber.value);
              if (inputNumber.value > quantity) inputNumber.value = quantity;
              final_price = inputNumber.value * price;
              modal.find('#final_price').attr({
                "data-price" : final_price
            });
              document.getElementById('final_price').innerHTML = 'Конечная стоимость ' + final_price + 'р';  
            };
        });
    </script>
</body>

</html>